dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

.DS_Store
*.swp

# spacemacs
.#*

# python
.cquery_cache/
.DS_Store
.vscode/

*.sublime-workspace
*.sublime-project
games.d/

bin/*
lib/*
pyvenv.cfg
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
